.App {
  text-align: center;
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.display {
  background-color: darkgray;
  color: black;
  border: 1px solid darkslategray;
  height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.displayHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  font-size: 30px;
  margin: 15px;
}

.scores {
  font-size: 15px;
  margin: 20px 0px;
}

.balls, .strikes {
  font-size: 25px;
}

.dashboard {
  border: 1px solid yellow;
  width: 400px;
  height: 200px;
}